.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #EEEEFF;
    border-radius: 30px;
    padding-top: 20px;
    width: 236px;
    height: 704px;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-right: 20px;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 44px;
        padding-top: 6px;
        padding-bottom: 6px;
        column-gap: 8px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        text-decoration: none;
        color: #434B74;
        transition: opacity 0.3s;

        &_active {
            color: #FFFFFF;
            background-color: #8D7FC7;
        }
    }

    &__link:hover {
        opacity: 70%;   
    }

    &__icon_unfilled {
        fill: currentColor;
    }

    &__icon_filled {
        stroke: #FFFFFF;
    }

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 40px;

    &__logo {
        width: 59px;
        height: 58px;
    }

    &__text {
        max-width: 81px;
        font-size: 23px;
        font-weight: 700;
        color: #323854;
    }
}